/* LAYOUT */

body {
  margin: 0;
  font-family: 'Merriweather';
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  counter-reset: section;
}

section{
  width: 700px;
  margin: auto;
  padding: 0 40px;
}

.well{
  padding: 5px 40px;
  margin-bottom: 40px;
  background-color: #f1faf8;
  border-top: 1px solid #a7d3ce;
}

.left, .right{
  width: 70%;
  margin-top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.left{
  float: left;
  margin-left: -20%;
  padding-right: 40px;
  border-right: 1px solid #a7d3ce;
}

.right{
  float: right;
  margin-right: -20%;
  padding-left: 40px;
  border-left: 1px solid #a7d3ce;
}

blockquote{
  color: #179a8b;
  font-size: 20px;
  font-style: italic;
  line-height: 30px;
}

cite{
  display: block;
  color: #999;
  font-family: 'Unit';
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
}

figure img{
  width: 100%;
}

a.footnote{
  display: inline-block;
  height: 16px;
  width: 16px;
  background-color: #c45823;
  font-family: 'Unit';
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: white;
  -webkit-border-radius: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

p.footnote.hover{
  position: absolute;
  font-family: Unit-Medium;
  padding: 10px;
  line-height: 18px;
  font-weight: 500;
  max-width: 400px;
  background-color: #fdf6f2;
  border: 1px solid #ccc;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
}

.fa{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER */

header{
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  font-family: 'Unit';
  line-height: 50px;
  background-color: #eee;
  border-bottom: 1px solid black;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  z-index: 5;
}

header div{
  display: inline-block;
  padding: 0 20px;
}

header .next, header .menu, header .prev{
  float: right;
  color: #666;
  text-align: right;
  cursor: pointer;
}

header .prev{
  float: left;
  padding: 0;
  width: 50px;
  text-align: center;
  display: none;
}

header .next, header .prev{
  background-color: #ccc;
}

header .next:hover, header .prev:hover{
  background-color: #ddd;
}

header .current{
  font-size: 18px;
  font-weight: bold;
}

ul.dropdown{
  display: none;
  width: 280px;
  padding: 15px 0;
  margin: 0 -20px;
  background-color: white;
  text-align: left;
  line-height: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

ul.dropdown li{
  padding: 10px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

ul.dropdown li:hover{
  background-color: #eee;
}

/* HEADINGS */

div.title{
  height: 100%;
  width: 100%;
  margin: 0;
  padding-left: 75px;
  background-size: cover;
  background-position: center bottom;
  color: white;
  font-family: 'Unit';
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1:before{
  counter-increment: section;
  content: "PART " counter(section);
  display: block;
  position: relative;
  border-bottom: 2px solid white;
  font-size: 36px;
  font-weight: 300;
}

h1{
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 64px;
  line-height: 72px;
}

h2{
  margin-top: 80px;
  color: #019b8b;
  font-family: Unit-Regular;
  font-size: 24px;
  text-transform: uppercase;
}

h2 span{
  padding-right: 10px;
  display: inline-block;
  background-color: white;
  position: relative;
}

h2:before{
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  position: relative;
  top: 11px;
  background-color: #a6d3ce;
}

/* INLINE */

section > p:first-child{
  margin: 40px 0;
  font-size: 20px;
  line-height: 30px;
}

section > p:first-child:after{
  content: '';
  display: block;
  width: 300px;
  margin: 20px auto;
  border-bottom: 1px dashed black;
}

/* IMAGES */
img.full, div.map{
  width: 1000px;
  margin: 40px -150px;
}

div.map{
  height: 500px;
  position: relative;
}

div.map.iframe{
  height: 600px;
}

.map .header{
  height: 50px;
  line-height: 50px;
  background-color: #999;
  color: #fffefe;
  font-size: 24px;
  font-family: 'Unit';
  text-indent: 60px;
}

.map a{
  display: inline-block;
  text-indent: 0;
  padding: 0 25px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.map a.active, .map a:hover{
  background-color: #666;
}

.map span{
  margin-right: 25px;
}

.map img{
  width: 1000px;
  position: absolute;
  opacity: 0;
}

.map .legend{
  position:  absolute;
  bottom: 52px;
  background-color: rgba(0,0,0,.6);
  color: white;
  font-family: 'Unit';
  padding: 10px 20px 10px 40px;
  z-index: 3;
  font-size: 18px;
}

.map .legend > div{
  margin: 10px 0;
}

.map .legend > div > *{
  display: inline-block;
  margin: 0;
}

.map .legend > div > div{
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

iframe{
  height: 560px;
  width: 1000px;
  border: none;
}

.control{
  height: 50px;
  margin-top: 398px;
  background-color: #999;
}

.control .year{
  margin: 0 40px;
  float: left;
  line-height: 50px;
  color: white;
  font-family: 'Unit';
  font-weight: bold;
  font-size: 24px;
}

.slider{
  width: 800px;
  float: left;
  height: 2px;
  background-color: #333;
  position: relative;
  top: 24px;
}

.ui-slider-handle{
  width: 25px;
  height: 25px;
  top: -0.5em !important;
  background-color: white;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.ui-slider-handle:before{
  content: "|";
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
}
